body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Adjust image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.fees-container {
    background-color: #f0f8ff;;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #2196f3;
    color: white;
}

td {
    background-color: #fafafa;
}

.download-btn {
    background-color:#3a6677;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #1976d2;
}

.back-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#backToPortal {
    background-color: #004d40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backToPortal:hover {
    background-color: #00695c;
}
